#header {
    // background-image: url(../../img/bg01.png);
    // background-size: cover;
    // background-repeat: no-repeat;
}

.header__logo {
    a {
        display: flex;
        padding: 10px;
        margin: 10px;

        em {
            width: 60px;
            height: 60px;
            position: relative;
            border: 2px solid var(--maincolor01);
            margin-right: 10px;

            svg {
                position: absolute;
                left: 11px;
                top: 11px;
                width: 34px;
                height: 34px;
            }

        }

        span {
            font-size: 22px;
            line-height: 1.4;
            font-family: var(--mainfont-revecca);
        }

        animation: logo 6s 4s ease-in-out infinite;

        @keyframes logo {
            0% {
                filter: blur(0);
            }

            50% {
                filter: blur(5px);
            }

            100% {
                filter: blur(0);
            }
        }
    }
}

.header__menu {
    padding: 10px;

    .menu {

        li {

            display: flex;
            justify-self: left;
            align-items: center;

            a {
                display: flex;
                align-items: center;
                padding: 1.3rem 2.8rem 1rem 3rem;
                border-bottom: 1px solid var(--white);
                font-size: 1rem;
                line-height: 1;
                color: var(--white);
                margin-bottom: 5px;
                width: 100%;

                &:hover {
                    background-color: var(--white100);
                    transition: all 0.6s;
                }

                svg {
                    width: 1.25rem;
                    height: 1.25rem;
                }

                em {
                    padding-left: 5px;
                    padding-bottom: 2px;
                }
            }

            &.active {
                a {
                    background-color: var(--white);
                    color: var(--maincolor01);
                }
            }
        }
    }

    .keyword {
        ul {
            li {

                font-size: 1rem;
                display: block;
                line-height: 1;
                color: var(--white);
                padding: 1.1rem 2.8rem;
                border-radius: 5px;
                font-size: 15px;
                margin-bottom: 3px;

                a {
                    padding-top: 2px;
                }

                &:hover {
                    cursor: pointer;
                    background-color: var(--maincolor04);
                    color: var(--maincolor01);
                    transition: all 0.4s;
                }

                svg {
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }

            .active {
                background-color: var(--maincolor04);
                color: var(--maincolor01);
            }
        }
    }
}

.header__sns {
    border-top: 1px solid var(--maincolor01);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: var(--maincolor03);
    padding: 16px 0 8px;

    li {
        display: inline-block;

        a {
            display: inline-block;
            padding: 5px;
        }

        svg {
            width: 20px;
            height: 20px;
        }

        .naver {
            width: 10px;
        }
    }

}