#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 1000;
    background-color: var(--maincolor03);
}

#main {
    width: 100%;
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
    background-color: var(--maincolor04);
    color: var(--maincolor01);
}

#footer {
    text-align: center;
    border-top: 1px solid var(--maincolor03-100);
    background-color: var(--maincolor04);
    padding: 10px 10px 10px 250px;

    a {
        color: var(--maincolor03);
        padding: 10px;
        display: inline-block;

        &:hover {
            @include underline;
            text-decoration-color: var(--maincolor03);
        }
    }
}

@media (max-width:800px) {
    #header {
        left: -250px;
    }

    #main {
        padding-left: 0;
    }

    #footer {
        top: -250px;
    }
}