@font-face {
    font-family: "nanumSquare";
    font-weight: 300;
    font-style: normal;
    src:
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Light.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Light.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquare";
    font-weight: 400;
    font-style: normal;
    src:
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Regular.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquare";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Bold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquare";
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-ExtraBold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-ExtraBold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "revecca";
    font-weight: normal;
    font-style: normal;
    src:url("https://cdn.jsdelivr.net/gh/websfont/revecca/revecca.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/revecca/revecca.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "pyeongChang";
    font-weight: 400;
    font-style: normal;
    src:url("https://cdn.jsdelivr.net/gh/websfont/pyeongChang/pyeongChang-Regular.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/pyeongChang/pyeongChang-Regular.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "pyeongChang";
    font-weight: 700;
    font-style: normal;
    src:url("https://cdn.jsdelivr.net/gh/websfont/pyeongChang/pyeongChang-Bold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/pyeongChang/pyeongChang-Bold.woff") format("woff");
    font-display: swap;
}